//回到顶部和联系客服
.goTop{
    position: fixed;
    right: 30px;
    bottom: 150px;
    z-index: 2000;
    width: 46px;
    height: 46px;
    a{
        display: block;
        width: 54px;
        height:44px;
        padding-top:10px;
        cursor: pointer;
        text-align: center;
        border: 1px solid #ededed;
        background-color:#fff;
        color: #979797;
    }
}