#footerbox_bottom {
  text-align: center;
  color: #999;
}
#footerbox_bottom a {
  display: inline-block;
  font-size: 12px;
  color: #666;
}
#footerbox_bottom .footnav a {
  width: 92px;
  text-align: center;
  border-right: 1px solid #ccc;
  line-height: 12px;
}
#footerbox_bottom .copyright {
  line-height: 18px;
  text-align: center;
  margin-top: 13px;
}

#all_header {
  padding: 20px 0;
}
#all_header .headertitile {
  overflow: hidden;
  margin-left: 20px;
}
#all_header .headertitile span {
  font-size: 32px;
  color: #666;
  line-height: 45px;
  margin-left: 30px;
  font-weight: lighter;
}

#box {
  width: 100%;
  background: url("http://user.tcl.com/img/back.jpg") no-repeat center 0;
  height: 480px;
  position: relative;
  margin-bottom: 80px;
}

.login_cont, .register_cont {
  position: absolute;
  right: 200px;
  top: 40px;
  width: 280px;
  height: 378px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px 40px 20px;
}
.login_cont h3, .register_cont h3 {
  line-height: 32px;
  font-size: 20px;
  color: #333;
}
.login_cont .login_cont_top, .register_cont .login_cont_top {
  margin: 3px 0 15px 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #979797;
  overflow: hidden;
}
.login_cont .login_cont_top .ico, .register_cont .login_cont_top .ico {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  background: url("../img/t-party-icon.png");
  float: left;
}
.login_cont .login_cont_top .ico:nth-child(1), .register_cont .login_cont_top .ico:nth-child(1) {
  background-position: 0 -84px;
}
.login_cont .login_cont_top .ico:nth-child(2), .register_cont .login_cont_top .ico:nth-child(2) {
  background-position: 0 -42px;
}
.login_cont .login_cont_middle div, .register_cont .login_cont_middle div, .register_cont .register_cont_middle div {
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
}
.login_cont .login_cont_middle div i, .register_cont .login_cont_middle div i, .register_cont .register_cont_middle div i {
  position: absolute;
  width: 28px;
  height: 27px;
  margin: 8px 0 0 8px;
  background: url("../img/l-icon.png");
}
.login_cont .login_cont_middle div input, .register_cont .login_cont_middle div input, .register_cont .register_cont_middle div input {
  border: 1px solid #999;
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 50px;
  font-size: 12px;
  box-sizing: border-box;
}
.login_cont .login_cont_middle .user, .register_cont .login_cont_middle .user, .register_cont .register_cont_middle .user {
  background-position: -32px -1px;
}
.login_cont .login_cont_middle .pass, .register_cont .login_cont_middle .pass, .register_cont .register_cont_middle .pass {
  background-position: -96px 0;
}
.login_cont .login_cont_middle .loginbtn, .register_cont .login_cont_middle .loginbtn, .register_cont .register_cont_middle .loginbtn, .register_cont .register_cont_middle #registerbtn {
  background: red;
  height: 40px;
  line-height: 40px;
}
.login_cont .login_cont_middle .loginbtn a, .register_cont .login_cont_middle .loginbtn a, .register_cont .register_cont_middle .loginbtn a, .register_cont .register_cont_middle #registerbtn a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.login_cont .o-methds a, .register_cont .o-methds a {
  font-size: 12px;
  color: #333;
  line-height: 20px;
  margin-right: 35px;
  display: inline-block;
}
.login_cont .o-methds a:last-child, .register_cont .o-methds a:last-child {
  margin-right: 0;
}

.register_cont input, .register_cont h3 {
  margin-bottom: 15px;
}
.register_cont #imgyzm, .register_cont #roundnumimg {
  display: inline-block;
}
.register_cont #imgyzm {
  width: 180px;
}
.register_cont #roundnumimg {
  width: 95px;
}
.register_cont .register_cont_middle #cheackbtn {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.register_cont .register_cont_middle #registerbtn {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.register_cont .o-methds a {
  font-size: 14px !important;
}
.register_cont .o-methds a:last-child {
  color: red;
}

/*# sourceMappingURL=dl$zu.css.map */
